<% if @reviews.count == 0 %>
	<div class="text-center"><h4>There is no Review yet</h4></div>
<% else %>

	<% @reviews.order("id desc").each do |r| %>


		<div class="row">
			<div class="col-md-1">
				<%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %>
			</div>
			<div class="col-md-11">
				<div>
					<strong><%= r.user.fullname %> <div id="stars_<%= r.id %>"></div> </strong>
					<span class="pull-right">
						<%#= link_to "Remove My Review", [@room, r], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user == r.user %>
					</span>
				</div>

				<div><%= r.created_at.strftime("%v") %></div>
				<div><%= r.comment %></div>
			</div>
      </div>
        <div class="row">
        <div class="col-md-10 pull-right">
         <%if check_for_guest_review(r.user_id,r.room_id).present? %>
              <% host_review = check_for_guest_review(r.user_id,r.room_id).first %>
              <div class="col-md-1">
                <%= image_tag avatar_url(host_review.room.user), class: "img-circle avatar-medium" %>
              </div>
              <div class="col-md-11">
                <div>
                  <strong><%= host_review.room.user.fullname %>-Room Owner <div id="stars_<%= host_review.id %>"></div> </strong>
                </div>

                <div><%= host_review.created_at.strftime("%v") %></div>
                <div><%= host_review.comment %></div>
              </div>
         <%elsif current_user == @room.user %>
              <%= render 'reviews/guest_review_form', :locals => {:user_id => r.user_id} %>
        <%end%>
        </div>
        </div>
        <hr>

		<script>
			$('#stars_<%= r.id %>').raty({
				path: '/assets',
				readOnly: true,
				score: <%= r.star %>
			});
		</script>

	<% end %>
    <br>
<% end %>
